tmp/*
[Cc]onfig/core.php
[Cc]onfig/database.php
config/inflections.php
config/sql/
exportcocagne.sh
app/tmp/*
app/[Cc]onfig/core.php
app/[Cc]onfig/database.php
!empty
*.[0-9][0-9]$
tests/
webroot/js/JSCal2-1.8.zip
webroot/js/prototype.js
webroot/js/scriptaculous.js
webroot/test.php
webroot/tmp/
webroot/js/jquery-1.4.3.js
webroot/js/jquery-1.5.1.js
webroot/js/jquery.datePicker.js
webroot/js/jquery.js
webroot/js/jquery/
doit
views/*/*.ctp.[0-9][0-9]$
views/jos_demiejournees/ajustements.ctp.00
views/jos_demiejournees/ajustements.ctp.01
views/jos_demiejournees/ajustements.ctp.02
views/jos_demiejournees_details/correction.ctp.00
views/jos_demiejournees_details/correction.ctp.01


*.sh
config/acl.ini.php
config/bootstrap.php
config/core.php.local
config/core.php.ok
config/core.php.ori
config/core.php.server
config/database.php.local
config/database.php.server
views/pages/infosconfidentielles.ctp


#various
webroot/index.php
webroot/js/builder.js
webroot/js/cake.datePicker.js
webroot/js/cocagne.js
webroot/js/cocagne.js.00
webroot/js/common.js
webroot/js/controls.js
webroot/js/cultures.js
webroot/js/date.js
webroot/js/date_fr.js
webroot/js/datepicker/
webroot/js/dragdrop.js
webroot/js/editor/
webroot/js/effects.js
webroot/js/fckconfig.js
webroot/js/fckeditor.js
webroot/js/fckstyles.xml
webroot/js/fcktemplates.xml
webroot/js/javascripttest.rb
webroot/js/jscalendar/
webroot/js/modalbox.js
webroot/css.php
webroot/css/cultures.css
webroot/css/datePicker.css
webroot/css/modalbox.css

webroot/css/cake.generic.css.01
webroot/css/cake.generic.css.02
webroot/css/cake.generic.css.cocagne
webroot/css/cake.generic.css.ok
webroot/css/cake.generic.css.ori

webroot/js/slider.js
webroot/js/sound.js
webroot/js/unittest.js
webroot/js/vendors.php



#repo stats
controllers/articles_controller.php
controllers/caisses_controller.php
controllers/classifications_controller.php
controllers/legumes_controller.php
controllers/prixlegumes_controller.php
controllers/recoltes_controller.php
controllers/recoltes_controller.php.00
controllers/recolteslegumes_controller.php
controllers/terrains_controller.php
controllers/unites_controller.php
models/article.php
models/behaviors/copyable.php
models/caiss.php
models/classification.php
models/legume.php
models/prixlegume.php
models/recolte.php
models/recolteslegume.php
models/terrain.php
models/unite.php

